/pdffactory/pdffactory
/pdffactory/PDFTableWidget.cpp.orig
/pdffactory/PDFTableWidget.h.orig
/pdffactory/1.pdf
/pdffactory/PreviewGen.cpp
/pdffactory/PreviewGen.h
/pdffactory/Session.vim
/pdffactory/log
/pdffactory/log.txt
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
